<!Doctype HTML>
<html>
<head>
    <div id="title">oEmbed Test</div>

    <div id="input_Box">
        <input type="text" class="form-control" id="urlInput" placeholder="url을 입력하세요."
               style="margin-right: 10px;">
        <button class="btn btn-primary" type="button" id="btn-request">확인</button>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 제이쿼리를 import해줘야 버튼을 연결할 수 있음-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1></h1>
</body>
<script src="/js/app/index.js"></script>
</html>